<div class="d-flex justify-content-end pb-4">
  <p-button label="Nuova certificazione" icon="pi pi-plus" (click)="showDialog()"/>
</div>

<p-table [value]="certificates" [tableStyle]="{ 'min-width': '60rem' }" selectionMode="single"
    [(selection)]="selectedCertificate" [metaKeySelection]="metaKey" dataKey="blockNumber">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Cert ID</th>
            <th>Nome certificato</th>
            <th>Nome file</th>
            <th>Stato</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cert>
        <tr [pSelectableRow]="cert">
            <td>{{ cert.blockNumber }}</td>
            <td>{{ cert.certId }}</td>
            <td>{{ cert.alias}}</td>
            <td>{{ cert.fileName }}</td>
            <td>
                <app-log-access-state [status]="cert.status"></app-log-access-state>
            </td>
            <td class="d-flex gap-2">
                <p-splitbutton label="Azioni" [model]="items" severity="secondary" />


                <!-- <p-button icon="pi pi-eye" (onClick)="selectCertificate(cert)" severity="secondary" rounded />
                <p-button icon="pi pi-download" severity="info" rounded />
                <p-button icon="pi pi-ban"  severity="danger" rounded [disabled]="cert.status === 'revoked'"/>
                <p-button icon="pi pi-share-alt"  severity="info" rounded /> -->
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Aggiungi certificazione" [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' }"
    [draggable]="false" [resizable]="false">

    <div class="flex flex-wrap gap-6 items-center justify-between">
        <div class="row">
            <p-fileupload #fu mode="basic" chooseLabel="Scegli il certificato" chooseIcon="pi pi-upload" name="demo[]"
                accept=".pdf,application/pdf" maxFileSize="1000000" (onSelect)="onUpload($event)" />
        </div>
        <div class="pt-4 d-flex justify-content-end">
            <p-button label="Carica" [disabled]="!file" (onClick)="onUploadFile()" severity="primary" />
        </div>
    </div>
</p-dialog>
