/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {

  --app-success-bg: #E9FBEA;
  --app-error-bg: #FBE9E9;
  --app-warning-bg: #F7F8D8;
  --app-info-bg: #F1F4F3;

  --app-success: #20B029;
  --app-error: #B02020;
  --app-warning: #ADB020;
  --app-info: #353636;

  --neutral--500: rgba(100, 103, 104, 1);
  --neutral--700: rgba(50, 51, 52, 1);
  --neutral--100: rgba(203, 204, 205, 1);
  --neutral--600: rgba(75, 77, 78, 1);
  --neutral--50: rgba(229, 230, 230, 1);
  --neutral--20: rgba(242, 242, 243, 1);
  --neutral--400: rgba(164, 166, 168, 1);
}

